@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background: rgba(250, 250, 250, 1);
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.container .box {
  position: relative;
  top: 25px;
  width: 350px;
  height: 540px;
  border: 1px solid rgba(219, 219, 219, 1);
  background: white;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
  z-index: 2;
}

.container .content .box .title {
  position: relative;
  top: 5px;
  text-align: center;
}
.container .content {
  position: relative;
  top: 12px;
}
.container .content .box .title img {
  width: 190px;
  height: 80px;
}

.container .content .box .text1 {
  text-align: center;
  position: relative;
  top: 4px;
  color: rgba(142, 142, 142, 142);
  font-weight: 405;
  font-size: 17px;
}

.container .content .box .text2 {
  text-align: center;
  position: relative;
  top: 3px;
  color: rgba(142, 142, 142, 142);
  font-weight: 405;
  font-size: 17px;
}

.container .content .box .facebook-button {
  text-align: center;
  margin-top: 15px;
}
.container .content .box .facebook-button button {
  width: 290px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: DodgerBlue;
  color: white;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.container .content .box .form-divider {
  position: relative;
}

.container .content .box .form-divider #OR {
  color: rgba(142, 142, 142, 1);
  background: white;
  text-align: center;
  width: 50px;
  margin: 15px 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  z-index: 3;
  position: relative;
  top: 7px;
  display: block;
}
.container .content .box .form-divider #line {
  z-index: 1;
  position: absolute;
  top: 13px;
  left: 50%;
  transform: translateX(-50%);
  width: 290px;
  height: 1px;
  background: rgba(219, 219, 219, 1);
}

.container .content {
  position: relative;
  top: 12px;
}

.container .content .box .form {
  position: relative;
  top: -3px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .content .box .form .form-content {
  position: relative;
  margin: 5px 0;
  top: 22px;
}

.container .content .box .form label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 9px;
  font-size: 14px;
  font-weight: 450;
  color: #dbdbdb;
  pointer-events: none;
  order: -1;
  transition: 0.3s ease;
}

.container .content .box .form input {
  background: transparent;
  width: 290px;
  height: 40px;
  background: rgba(250, 250, 250, 1);
  border: 1px solid rgba(219, 219, 219, 1);
  border-radius: 3px;
  padding: 9px 0 7px 8px;
  font-size: 14px;
  transition: 0.3s ease;
}

.container .content .box .form input:focus {
  border: 1px solid rgba(150, 150, 150, 1);
  outline: none;
}

.container .content .box .form input:valid {
  padding-bottom: 0;
}
.container .content .box .form input:valid + label {
  transform: translateY(-16px);
  font-size: 10px;
}

.container .content .box .form button {
  position: relative;
  top: 5px;
  width: 290px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: rgba(0, 149, 246, 0.3);
  color: white;
}

.container .content .box .form .text3 {
  text-align: center;
  position: relative;
  top: 30px;
  color: rgba(142, 142, 142, 142);
  font-weight: 300;
  font-size: 13px;
  padding: 0 6%;
}

.container .content .box .form .text3 #bold {
  font-weight: 405;
}

.container .content .mini-box {
  position: relative;
  top: 25px;
  width: 350px;
  height: 70px;
  background: white;
  border: 1px solid rgba(219, 219, 219, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .content .mini-box .text {
  font-size: 14px;
  color: rgba(38, 38, 38, 1);
}
.container .content .mini-box .text a {
  text-decoration: none;
  color: #0095f6;
  font-weight: 400;
}

.container .content .download-section {
  margin-top: 45px;
  width: 350px;
  height: 100px;
  text-align: center;
}
.container .content .download-section p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 350;
}
.container .content .download-section .images {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.container .content .download-section .images img {
  width: 135px;
  height: 40px;
}
footer {
  padding: 30px 20px;
}
footer ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  width: 40%;
  margin: 0 auto 20px;
}
footer ul li {
  font-size: 12px;
  line-height: 14px;
  list-style: none;
  color: rgba(142, 142, 142, 1);
  cursor: pointer;
}
footer .copyright {
  display: flex;
  justify-content: center;
  gap: 10px;
}
footer .copyright select {
  font-size: 12px;
  background: none;
  color: rgba(142, 142, 142, 1);
  border: none;
  cursor: pointer;
}
footer .copyright select option {
  width: 50px;
}
footer .copyright span {
  font-size: 12px;
  line-height: 14px;
  color: rgba(142, 142, 142, 1);
}

@media (max-width: 900px) {
  footer ul {
    width: 100%;
  }
}
@media (max-width: 850px) {
  #image {
    display: none;
  }
}

@media (max-width: 440px) {
  .container {
    min-height: 80vh;
  }
  .container .content .box,
  .container .content .mini-box {
    border: none;
    background-color: transparent;
  }
}
